# EdThrive data extraction
The objective of this process is to replicate the data extraction needed to build the **Student Engagement Report**. Given the difficulties observed with the current data processing algorithm and the inconsistencies across the expected and actual outputs, it was decided to deep dive into the current algorithm to identify individual operations applied to the data, and replicate them in a more efficient way.

For this purpose, Python was the language of choice to transform the data. 

### Considerations
*   Most of the operations here are done by using only the record IDs from specific tables in the database
*   Identifiers are converted to human understandable information as a last step in the transformations
*   Specific details about the calculations or language specific sintax are not part of the comments on this notebook.
*   Only the relevant columns are loaded from the raw tables on the database (or the CSV files used on this notebook)

## Data loading
Data was extracted raw from the database, so a series of transformations, joins and calculations are needed to be applied for making analysis. For an easier process of loading the relevant data, some functions were defined.

In [1]:
#Import modules
import pandas as pd
import numpy as np

#Define utils functions
def loader(filename, columns = None):
    filepath = 'Data/{}.csv'
    df = pd.read_csv(filepath.format(filename))
    df = df[columns] if columns != None else df
    return df

def merger(df_left, df_right, on_left, on_right, how = 'inner', drop_keys = 'none', suffix = ('_left', '_right')):
    merged = df_left.merge(df_right, how = how, left_on = on_left, right_on = on_right, suffixes = suffix)
    if drop_keys == 'both': merged.drop(columns=[on_left, on_right], inplace = True)
    if drop_keys == 'right': merged.drop(columns=[on_right], inplace = True)
    if drop_keys == 'left': merged.drop(columns=[on_left], inplace = True)

    return merged

## Observations data (Coaching table)
The main data needed for reporting purposes comes from a table called *Coaching*. In the site, there are filters applied to this data when the report page is open that restrict the results being rendered. The most relevant filters are:
*   Only the results from the last month with available data are shown in the plots.
*   Organization is filtered to the subdomain on which the report is consulted.
*   The observations are restricted to the *observestudentengage* value on the type column.

These filters are not used in this process because they are either irrelevant or redundant to the data being processed.

In [2]:
#Load global observations data
coaching = loader('Coaching', ['id','startTime','status','orgId','state','whoId','coachId','type','numberOfStudents'])
coaching['startTime'] = pd.to_datetime(coaching['startTime'], format='%Y-%m-%d %H:%M:%S')
coaching['month'] = coaching['startTime'].dt.month
coaching.head()

,id,startTime,status,orgId,state,whoId,coachId,type,numberOfStudents,month
0,4162,2022-03-07 20:57:00,delete,1000163,concluded,3807,1259,observestudentengage,20,3
1,4163,2022-03-07 21:08:56,delete,1000163,concluded,3807,3739,observestudentengage,20,3
2,4164,2022-03-07 21:09:01,delete,1000163,concluded,3808,3745,observestudentengage,20,3
3,4165,2022-03-07 21:09:22,delete,1000163,concluded,3779,3395,observestudentengage,20,3
4,4172,2022-03-08 16:33:21,delete,1000163,concluded,3807,1259,observestudentengage,20,3

The previous table is the body to which the different engagement variables is going to be added, by it's identifier *id*.

## Engagement activities (Engagement table)
The engagement activities are the group of variables that are measured and presented as the **Student Engagement**, **Learning Tasks**, **Student Grouping** plots in the report.

In [3]:
#Load engagement types
engagement = loader('CoachingEngagement',['id','name','type'])
engagement.rename(columns={'id':'engagementId','name':'engagementName','type':'engagementType'},inplace=True)
engagement

    engagementId            engagementName   engagementType
0              1                    Active       engagement
1              2                   Passive       engagement
2              3                  Off-Task       engagement
3              4                 Down Time       engagement
4              5                 Listening     learningtask
5              6       Doing/Demonstrating     learningtask
6              7                   Reading     learningtask
7              8                  Speaking     learningtask
8              9                   Writing     learningtask
9             10                      None     learningtask
10            11               Whole Class  studentgrouping
11            12               Small Group  studentgrouping
12            13                   Partner  studentgrouping
13            14  Independent Work Session  studentgrouping
14            15               No Grouping  studentgrouping

## Observations details (Coaching Data table)
The observations details are stored in a table called CoachingData. For each user-app interacction on the Observation scren, several records are saved on the database, one for each user-app interaction. For example, in the image below, one record was created for the user selecting **Off-Task - Engagement**, one for **Listening - Learning Tasks**, and one for **Small Group - Student Grouping**, and so on with the other variables. All these records are related to the Coaching table through a *coaching Id*.

![Student Engagement Observation](https://github.com/majoloso97/EdThrive-reporting/blob/main/Images/StudentEngagementObservation.png)

In [4]:
#Load coachingData
coachingData = loader('CoachingData', ['status', 'coachingId', 'engagementId','userId','studentNum', 'type', 'note', 'count'])
coachingData.head()

,status,coachingId,engagementId,userId,studentNum,type,note,count
0,delete,4162,2.0,1259,1.0,engagement,NaN,NaN
1,delete,4162,5.0,1259,1.0,engagement,NaN,NaN
2,delete,4162,11.0,1259,1.0,engagement,NaN,NaN
3,delete,4162,1.0,1259,2.0,engagement,NaN,NaN
4,delete,4162,8.0,1259,2.0,engagement,NaN,NaN

#### Number of observations
Two important variables from the report are **Total observations** and **Total students**. The latter can be found in the Coaching table with the name *numberOfStudents*. However, the first one needs to be calculated from the amount of records counted by the varialbe *studentNum* on the *coachingData* table, for each Observation session. This new variable is appended to the **coaching** table with the name of *totalObservations*.

In [5]:
#Calculate totalObservations
coachingDataTotalObs = coachingData[['coachingId','studentNum']]
coachingDataTotalObs = coachingDataTotalObs.groupby('coachingId').max('studentNum')
coachingDataTotalObs.reset_index(inplace=True)
coaching = merger(coaching, coachingDataTotalObs, 'id', 'coachingId', how = 'left', drop_keys = 'right')
coaching.rename(columns={'studentNum':'totalObservations'}, inplace=True)
coaching.head()

,id,startTime,status,orgId,state,whoId,coachId,type,numberOfStudents,month,totalObservations
0,4162,2022-03-07 20:57:00,delete,1000163,concluded,3807,1259,observestudentengage,20,3,3.0
1,4163,2022-03-07 21:08:56,delete,1000163,concluded,3807,3739,observestudentengage,20,3,12.0
2,4164,2022-03-07 21:09:01,delete,1000163,concluded,3808,3745,observestudentengage,20,3,17.0
3,4165,2022-03-07 21:09:22,delete,1000163,concluded,3779,3395,observestudentengage,20,3,15.0
4,4172,2022-03-08 16:33:21,delete,1000163,concluded,3807,1259,observestudentengage,20,3,7.0

#### Student Engagement, Learning Task, Student Grouping
Next, the variables corresponding to the images below were added. In the table *coachingData*, these variables are stored in a disaggregated and narrow form ([see more about data forms here](https://en.wikipedia.org/wiki/Wide_and_narrow_data)). It was necessary aggregate and reshape the data to fit with the previous *coaching* table.

![Student Engagement](https://github.com/majoloso97/EdThrive-reporting/blob/main/Images/StudentEngagement.png)
![Learning Tasks](https://github.com/majoloso97/EdThrive-reporting/blob/main/Images/LearningTasks.png)
![Student Grouping](https://github.com/majoloso97/EdThrive-reporting/blob/main/Images/StudentGrouping.png)

In [6]:
#Select columns to use and calculate total observations per variable
coachingDataEngagement = coachingData[['coachingId','engagementId','status']].groupby(['coachingId','engagementId']).count()
coachingDataEngagement.reset_index(inplace=True)

#Combine data with engagement to get variable labels
coachingDataEngagement = merger(coachingDataEngagement, engagement, 'engagementId','engagementId')

#Reshape table to have a column per variable and add zeros in cells with no values
coachingDataEngagement = coachingDataEngagement.pivot(index='coachingId', columns='engagementName',values='status')
coachingDataEngagement.reset_index(inplace=True)
coachingDataEngagement.fillna(0, inplace=True)
coachingDataEngagement.head()

engagementName,coachingId,Active,Doing/Demonstrating,Down Time,Independent Work Session,Listening,No Grouping,None,Off-Task,Partner,Passive,Reading,Small Group,Speaking,Whole Class,Writing
0,4162,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,2.0,1.0,0.0
1,4163,7.0,3.0,0.0,0.0,3.0,0.0,1.0,1.0,0.0,4.0,0.0,5.0,4.0,7.0,1.0
2,4164,8.0,0.0,2.0,0.0,5.0,0.0,0.0,3.0,4.0,4.0,0.0,0.0,5.0,13.0,7.0
3,4165,8.0,0.0,0.0,5.0,6.0,0.0,0.0,2.0,4.0,5.0,0.0,0.0,4.0,6.0,5.0
4,4172,3.0,5.0,0.0,0.0,1.0,0.0,0.0,1.0,3.0,3.0,1.0,3.0,0.0,1.0,0.0

The data above is the disaggregated data required for the plots shown before. Adding this variables to the *coaching* table, it results in the following.

In [7]:
coaching = merger(coaching, coachingDataEngagement, 'id', 'coachingId', how = 'left', drop_keys = 'right')
coaching.head()

,id,startTime,status,orgId,state,whoId,coachId,type,numberOfStudents,month,...,No Grouping,None,Off-Task,Partner,Passive,Reading,Small Group,Speaking,Whole Class,Writing
0,4162,2022-03-07 20:57:00,delete,1000163,concluded,3807,1259,observestudentengage,20,3,...,0.0,0.0,0.0,2.0,1.0,0.0,0.0,2.0,1.0,0.0
1,4163,2022-03-07 21:08:56,delete,1000163,concluded,3807,3739,observestudentengage,20,3,...,0.0,1.0,1.0,0.0,4.0,0.0,5.0,4.0,7.0,1.0
2,4164,2022-03-07 21:09:01,delete,1000163,concluded,3808,3745,observestudentengage,20,3,...,0.0,0.0,3.0,4.0,4.0,0.0,0.0,5.0,13.0,7.0
3,4165,2022-03-07 21:09:22,delete,1000163,concluded,3779,3395,observestudentengage,20,3,...,0.0,0.0,2.0,4.0,5.0,0.0,0.0,4.0,6.0,5.0
4,4172,2022-03-08 16:33:21,delete,1000163,concluded,3807,1259,observestudentengage,20,3,...,0.0,0.0,1.0,3.0,3.0,1.0,3.0,0.0,1.0,0.0

#### Learning Intentions
Next, the variables corresponding to the **Learning Intentions** were added. In the table *coachingData*, these variables are stored similarly to the *engagement* variables. Most of the process was the same, with a subset of observation types that contain '*learningintention*'.

![Learning Intentions](https://github.com/majoloso97/EdThrive-reporting/blob/main/Images/LearningIntentions.png)

In [8]:
#Calculating total intentions
coachingDataLearningIntentions = coachingData[coachingData.type.str.contains('learningintention')]
coachingDataLearningIntentions = coachingDataLearningIntentions[~coachingDataLearningIntentions['note'].isna()]
coachingDataLearningIntentions = coachingDataLearningIntentions.pivot(index='coachingId', columns='type',values='note').fillna(0)

#Renaming variables according to report labels
name_mapper = {'learningintentioninstructionrelevant': 'Instruction relevant to learning intention',
                'learningintentionposted': 'Learning intention visible',
                'learningintentionreferredteacher': 'Learning intention stated by teacher',
                'learningintentionstudentsaware': 'Students aware of learning intention'}
coachingDataLearningIntentions.rename(columns= name_mapper, inplace= True)
coachingDataLearningIntentions.reset_index(inplace=True)
coachingDataLearningIntentions.head()

type,coachingId,Instruction relevant to learning intention,Learning intention visible,Learning intention stated by teacher,Students aware of learning intention
0,4163,0,0,1,0
1,4165,1,1,1,1
2,4190,0,0,1,0
3,4193,0,0,1,1
4,4197,0,1,1,0

Note that the percentages shown in the current report correspond to proportions calculated over each column. In other words, they represent the total learning intentions divided by the amount of observations being evaluated. For example, in the subset of data shown above, for the column *learningintentioninstructionrelevant*, the percentage to show is 20% (1 intention / 5 observations), and for *learningintentionposted*, the percentage is 40%. 

This calculation should be evaluated in the context of any filters being applied to the coaching data.

The new variables were added to the main dataset *coaching*.

In [9]:
coaching = merger(coaching, coachingDataLearningIntentions, 'id', 'coachingId', how = 'left', drop_keys = 'right')
coaching.head()

,id,startTime,status,orgId,state,whoId,coachId,type,numberOfStudents,month,...,Passive,Reading,Small Group,Speaking,Whole Class,Writing,Instruction relevant to learning intention,Learning intention visible,Learning intention stated by teacher,Students aware of learning intention
0,4162,2022-03-07 20:57:00,delete,1000163,concluded,3807,1259,observestudentengage,20,3,...,1.0,0.0,0.0,2.0,1.0,0.0,NaN,NaN,NaN,NaN
1,4163,2022-03-07 21:08:56,delete,1000163,concluded,3807,3739,observestudentengage,20,3,...,4.0,0.0,5.0,4.0,7.0,1.0,0,0,1,0
2,4164,2022-03-07 21:09:01,delete,1000163,concluded,3808,3745,observestudentengage,20,3,...,4.0,0.0,0.0,5.0,13.0,7.0,NaN,NaN,NaN,NaN
3,4165,2022-03-07 21:09:22,delete,1000163,concluded,3779,3395,observestudentengage,20,3,...,5.0,0.0,0.0,4.0,6.0,5.0,1,1,1,1
4,4172,2022-03-08 16:33:21,delete,1000163,concluded,3807,1259,observestudentengage,20,3,...,3.0,1.0,3.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN

#### Interactions
Finally, the variables corresponding to the **Interactions** were added. The process was almost the same that with the *learning intentions* variables, with the difference that Interactions require a sum operation. A series of variables were added, to replicate the grouping made on the report:

*   Affirmative Feedback = Academic Affirmative + Behavioral Affirmative
*   Corrective Feedback = Academic Corrective + Behavioral Corrective
*   Behavioral Feedback = Behavioral Affirmative + Behavioral Corrective
*   Academic Feedback = Academic Affirmative + Academic Corrective

The involved plots are:

![Teacher to Student Feedback](https://github.com/majoloso97/EdThrive-reporting/blob/main/Images/TeachertoStudentFeedback.png)
![Academic & Behavioral Feedback](https://github.com/majoloso97/EdThrive-reporting/blob/main/Images/AcademicBehavioralFeedback.png)
![Active Student Response](https://github.com/majoloso97/EdThrive-reporting/blob/main/Images/ActiveStudentResponse.png)

In [10]:
#Calculating total interactions
coachingDataInteractions = coachingData[coachingData.type.str.contains('interaction')]
coachingDataInteractions = coachingDataInteractions.pivot_table(index='coachingId', columns='type',values='count', aggfunc='sum')

#Renaming variables according to report labels
name_mapper = {'interactionacademicaffirmative': 'Academic Affirmative',
                'interactionacademiccorrective': 'Academic Corrective',
                'interactionactivestudentresponse': 'Active Student Response',
                'interactionbehavioralaffirmative': 'Behavioral Affirmative',
                'interactionbehavioralcorrective': 'Behavioral Corrective',
                'interactioncannotdetermine': 'Cannot Determine',
                'interactionharsh': 'Harsh Feedback'}
coachingDataInteractions.rename(columns= name_mapper, inplace= True)
coachingDataInteractions.reset_index(inplace=True)

#Add new combination variables
coachingDataInteractions['Affirmative Feedback'] = coachingDataInteractions['Academic Affirmative'] + coachingDataInteractions['Behavioral Affirmative']
coachingDataInteractions['Corrective Feedback'] = coachingDataInteractions['Academic Corrective'] + coachingDataInteractions['Behavioral Corrective']
coachingDataInteractions['Behavioral Feedback'] = coachingDataInteractions['Behavioral Affirmative'] + coachingDataInteractions['Behavioral Corrective']
coachingDataInteractions['Academic Feedback'] = coachingDataInteractions['Academic Affirmative'] + coachingDataInteractions['Academic Corrective']

coachingDataInteractions.head()

type,coachingId,Academic Affirmative,Academic Corrective,Active Student Response,Behavioral Affirmative,Behavioral Corrective,Cannot Determine,Harsh Feedback,Affirmative Feedback,Corrective Feedback,Behavioral Feedback,Academic Feedback
0,4162,2.0,2.0,4.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,4.0
1,4163,1.0,1.0,3.0,1.0,2.0,0.0,0.0,2.0,3.0,3.0,2.0
2,4164,4.0,0.0,12.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0
3,4165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4172,0.0,0.0,4.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

The new variables were added to the main dataset *coaching*. Potentially, the original variables could not be useful for reporting purposes, but are left in the dataset for exploration.

In [11]:
coaching = merger(coaching, coachingDataInteractions, 'id', 'coachingId', how = 'left', drop_keys = 'right')
coaching.head()

,id,startTime,status,orgId,state,whoId,coachId,type,numberOfStudents,month,...,Academic Corrective,Active Student Response,Behavioral Affirmative,Behavioral Corrective,Cannot Determine,Harsh Feedback,Affirmative Feedback,Corrective Feedback,Behavioral Feedback,Academic Feedback
0,4162,2022-03-07 20:57:00,delete,1000163,concluded,3807,1259,observestudentengage,20,3,...,2.0,4.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,4.0
1,4163,2022-03-07 21:08:56,delete,1000163,concluded,3807,3739,observestudentengage,20,3,...,1.0,3.0,1.0,2.0,0.0,0.0,2.0,3.0,3.0,2.0
2,4164,2022-03-07 21:09:01,delete,1000163,concluded,3808,3745,observestudentengage,20,3,...,0.0,12.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0
3,4165,2022-03-07 21:09:22,delete,1000163,concluded,3779,3395,observestudentengage,20,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4172,2022-03-08 16:33:21,delete,1000163,concluded,3807,1259,observestudentengage,20,3,...,0.0,4.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

#### User data
At last, the names of the coaches and teachers were adding, by using the *whoId* and *coachId* columns. First, the user data was loaded and transformed to have a FullName.

In [12]:
#Load users names
users = loader('User', ['id','firstName','middleName','lastName'])
users.fillna('',inplace=True)
users['fullName'] = users['firstName'] + ' ' + users['middleName'] + ' ' + users['lastName']
users.drop(columns=['firstName','middleName','lastName'], inplace =True)
users.rename(columns={'id':'userId'}, inplace=True)
users

      userId            fullName
0          1          Dev  Admin
1          2        Matt  Nanney
2          3         Admin  Long
3          4     Counselor  Troy
4          5  Teacher  Holifield
...      ...                 ...
4052    4054       joann  Dunson
4053    4055         Tonya  Hunt
4054    4056        Mrs  Tilford
4055    4057        mr  Robinson
4056    4058      John  Graebner

[4057 rows x 2 columns]

In [13]:
#Add coachFullName
coaching = merger(coaching, users, 'coachId', 'userId', how = 'left', drop_keys = 'right')
coaching.rename(columns={'fullName':'coachFullName'}, inplace=True)

#Add teacherFullName
coaching = merger(coaching, users, 'whoId', 'userId', how = 'left', drop_keys = 'right')
coaching.rename(columns={'fullName':'teacherFullName'}, inplace=True)

coaching.head()

,id,startTime,status,orgId,state,whoId,coachId,type,numberOfStudents,month,...,Behavioral Affirmative,Behavioral Corrective,Cannot Determine,Harsh Feedback,Affirmative Feedback,Corrective Feedback,Behavioral Feedback,Academic Feedback,coachFullName,teacherFullName
0,4162,2022-03-07 20:57:00,delete,1000163,concluded,3807,1259,observestudentengage,20,3,...,0.0,0.0,0.0,0.0,2.0,2.0,0.0,4.0,Mavis Snelson,Megan Angell
1,4163,2022-03-07 21:08:56,delete,1000163,concluded,3807,3739,observestudentengage,20,3,...,1.0,2.0,0.0,0.0,2.0,3.0,3.0,2.0,Rosie Kaufman,Megan Angell
2,4164,2022-03-07 21:09:01,delete,1000163,concluded,3808,3745,observestudentengage,20,3,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0,Taylor Thurman,Roger Bean
3,4165,2022-03-07 21:09:22,delete,1000163,concluded,3779,3395,observestudentengage,20,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,David Lloyd,Chad Zielinski
4,4172,2022-03-08 16:33:21,delete,1000163,concluded,3807,1259,observestudentengage,20,3,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,Mavis Snelson,Megan Angell

#### Teams
At the moment of the construction of this notebook, there is no clear logic behind the team assignment. According to the database, this relationship is set through a set of many to many relationship between the **Users** table and the **MeetingGroup** table. Due to the nature of this relationship, such a join can cause duplicate values on the dataset, thus giving wrong results in the report. The users' teams can be added at this moment only if the teams do not overlap over each other (for example, if person A does not belong to Team X and Y). Logical conditions shall be implemented to allow a more secure Teams comparisson.

#### Data exporting
The final **coaching** dataset is exported. It's stored on the Output folder, with the name *Student Engagement Data.csv*.

In [14]:
coaching.to_csv('Output/Student Engagement Data.csv')